# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.pytest_cache/
.coverage
htmlcov/

# Flask
instance/

# Entorno y secretos
.env.dev
secrets/*.txt

# Editores / SO
.vscode/
.idea/
.DS_Store
Thumbs.db
